#description-scroll {
    width: 1fr;
    height: auto;
    margin: 1 2;
    border: tall $primary;
    background: $surface;
}

#description {
    content-align: center middle;
}

Button {
    width: 1fr;
    margin: 1 2;
}

.btn-title {
    width: 1fr;
    margin: 0 4;
}

.button-row {
    height: auto;
    margin: 1 0;
}
.button-row > Button {
    margin: 0 2;
}

#bottom-container {
    height: auto;
}