#description-scroll {
    width: 1fr;
    height: auto;
    margin: 1 2;
    border: round $primary;
    background: $surface;
}

#description {
    content-align: center middle;
}

Button {
    min-width: 0;
    width: 1fr;
    margin: 1 2;
}

.btn-title {
    width: 1fr;
    margin: 1 2;
}

.button-row {
    height: auto;
    margin: 1 0;
}
.button-row > Button {
    margin: 0 2;
}

#bottom-container {
    height: auto;
}

#nav-row {
    height: auto;
    margin: 1 0;
}
#nav-row > #home {
    width: 8;
    min-width: 0;
    margin: 0 2;
}
#nav-row > #back {
    width: 1fr;
    min-width: 0;
    margin: 0 2;
}
